{
  "openapi": "3.0.1",
  "info": {
    "title": "Metronome",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.metronome.com/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/alerts/archive": {
      "post": {
        "description": "Archive an existing alert",
        "operationId": "archiveAlert",
        "summary": "Archive an alert",
        "tags": [
          "Alerts"
        ],
        "requestBody": {
          "description": "The ID of the alert to archive",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveAlertPayload"
              },
              "example": {
                "id": "8deed800-1b7a-495d-a207-6c52bac54dc9"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Id"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "8deed800-1b7a-495d-a207-6c52bac54dc9"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/alerts/create": {
      "post": {
        "description": "Create a new alert",
        "operationId": "createAlert",
        "summary": "Create an alert",
        "tags": [
          "Alerts"
        ],
        "requestBody": {
          "description": "The details of the alert to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerAlertPayload"
              },
              "example": {
                "alert_type": "spend_threshold_reached",
                "credit_type_id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2",
                "name": "$100 spend threshold reached",
                "threshold": 10000,
                "customer_id": "4db51251-61de-4bfe-b9ce-495e244f3491",
                "credit_grant_type_filters": [
                  "enterprise"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Id"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "58fb0650-e54a-4d17-93cb-ba8e56c32c65"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billable-metrics/create": {
      "post": {
        "description": "Creates a new Billable Metric.",
        "operationId": "createBillableMetricV1",
        "summary": "Create a billable metric",
        "tags": [
          "Billable metrics"
        ],
        "requestBody": {
          "description": "The details of the billable metric to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBillableMetricV1Payload"
              },
              "example": {
                "name": "CPU Hours",
                "event_type_filter": {
                  "in_values": [
                    "cpu_usage"
                  ]
                },
                "property_filters": [
                  {
                    "name": "cpu_hours",
                    "exists": true
                  },
                  {
                    "name": "region",
                    "exists": true,
                    "in_values": [
                      "EU",
                      "NA"
                    ]
                  },
                  {
                    "name": "machine_type",
                    "exists": true,
                    "in_values": [
                      "slow",
                      "fast"
                    ]
                  }
                ],
                "aggregation_type": "SUM",
                "aggregation_key": "cpu_hours",
                "group_keys": [
                  [
                    "region"
                  ],
                  [
                    "machine_type"
                  ]
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Id"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "58fb0650-e54a-4d17-93cb-ba8e56c32c65"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billable-metrics/archive": {
      "post": {
        "description": "Archive an existing billable metric.",
        "operationId": "archiveBillableMetric",
        "summary": "Archive a billable metric",
        "tags": [
          "Billable metrics"
        ],
        "requestBody": {
          "description": "The ID of the billable metric to archive",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Id"
              },
              "example": {
                "id": "8deed800-1b7a-495d-a207-6c52bac54dc9"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Id"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "8deed800-1b7a-495d-a207-6c52bac54dc9"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/customer-alerts/get": {
      "post": {
        "description": "Get the customer alert status and alert information for the specified customer and alert",
        "operationId": "getCustomerAlert",
        "summary": "Get an alert",
        "tags": [
          "Alerts"
        ],
        "requestBody": {
          "description": "The customer ID and alert ID of the customer alert to get",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerAlertPayload"
              },
              "example": {
                "customer_id": "9b85c1c1-5238-4f2a-a409-61412905e1e1",
                "alert_id": "8deed800-1b7a-495d-a207-6c52bac54dc9"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerAlert"
                    }
                  }
                },
                "example": {
                  "data": {
                    "customer_status": "in_alarm",
                    "alert": {
                      "id": "8deed800-1b7a-495d-a207-6c52bac54dc9",
                      "uniqueness_key": "823j7fqzo1",
                      "name": "Low credit balance alert",
                      "type": "low_credit_balance_reached",
                      "status": "enabled",
                      "credit_type": {
                        "id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2",
                        "name": "USD (cents)"
                      },
                      "threshold": 0,
                      "updated_at": "2022-01-01T00:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/customer-alerts/list": {
      "post": {
        "description": "Fetch all customer alert statuses and alert information for a customer",
        "operationId": "listCustomerAlerts",
        "summary": "List customer alerts",
        "parameters": [
          {
            "$ref": "#/components/parameters/NextPage"
          }
        ],
        "tags": [
          "Alerts"
        ],
        "requestBody": {
          "description": "The customer alerts query to run",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerAlertsPayload"
              },
              "example": {
                "customer_id": "9b85c1c1-5238-4f2a-a409-61412905e1e1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerAlert"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "customer_status": "in_alarm",
                      "alert": {
                        "id": "8deed800-1b7a-495d-a207-6c52bac54dc9",
                        "name": "Low credit balance alert",
                        "uniqueness_key": "823j7fqzo1",
                        "type": "low_credit_balance_reached",
                        "status": "enabled",
                        "credit_type": {
                          "id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2",
                          "name": "USD (cents)"
                        },
                        "threshold": 0,
                        "updated_at": "2022-01-01T00:00:00Z"
                      }
                    },
                    {
                      "customer_status": "ok",
                      "alert": {
                        "id": "3d45fdc3-e237-4acd-a7d9-ccfeb40e71b8",
                        "name": "Spend threshold alert",
                        "type": "spend_threshold_reached",
                        "status": "enabled",
                        "credit_type": {
                          "id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2",
                          "name": "USD (cents)"
                        },
                        "threshold": 1000,
                        "updated_at": "2022-01-01T00:00:00Z"
                      }
                    }
                  ],
                  "next_page": null
                }
              }
            }
          }
        }
      }
    },
    "/customer-alerts/reset": {
      "post": {
        "description": "Reset state for an alert by customer id and force re-evaluation",
        "operationId": "resetCustomerAlerts",
        "summary": "Reset an alert for a customer",
        "tags": [
          "Alerts"
        ],
        "requestBody": {
          "description": "The customer and alert",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetCustomerAlertsPayload"
              },
              "example": {
                "alert_id": "5e8691bf-b22a-4672-922d-f80eee940f01",
                "customer_id": "4c83caf3-8af4-44e2-9aeb-e290531726d9"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/plans": {},
    "/planDetails/{plan_id}": {},
    "/planDetails/{plan_id}/customers": {},
    "/planDetails/{plan_id}/charges": {},
    "/client/billing-config/{billing_provider_type}/apiKey": {},
    "/client/config/webhook_secret": {},
    "/client/billing-config/stripe": {},
    "/credits/{customer_id}/rechargeSettings/{recharge_settings_id}": {},
    "/credits/{customer_id}/rechargeSettings": {},
    "/credits/createPrepaidGrant": {},
    "/credits/createGrant": {},
    "/credits/editGrant": {},
    "/credits/voidGrant": {},
    "/credits/listGrants": {},
    "/credit-types/list": {
      "get": {
        "description": "List all pricing units (known in the API by the legacy term \"credit types\").",
        "operationId": "listCreditTypes",
        "summary": "List pricing units",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/NextPage"
          }
        ],
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "is_currency": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2",
                      "name": "USD (cents)",
                      "is_currency": true
                    },
                    {
                      "id": "fa2f1b3d-9d52-4951-a099-25991fd394d6",
                      "name": "cloud consumption units",
                      "is_currency": false
                    }
                  ],
                  "next_page": null
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/plans": {},
    "/customers/{customer_id}/plans/add": {},
    "/customers/{customer_id}/plans/{customer_plan_id}/priceAdjustments": {},
    "/customers/{customer_id}/plans/{customer_plan_id}/end": {},
    "/ingest": {
      "post": {
        "description": "Send usage events to Metronome. The body of this request is expected to be a JSON array of between 1 and 100 usage events. Compressed request bodies are supported with a `Content-Encoding: gzip` header. See [Getting usage into Metronome](https://docs.metronome.com/connect-metronome/) to learn more about usage events.\n",
        "operationId": "ingest",
        "summary": "Ingest events",
        "x-nlb-domain-variable": "ingestnlbDomain",
        "x-vpc-connection-id-variable": "ingestvpcLinkId",
        "x-slo-tier": 1,
        "tags": [
          "Usage"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minItems": 1,
                "maxItems": 100,
                "items": {
                  "$ref": "#/components/schemas/Event"
                }
              },
              "example": [
                {
                  "transaction_id": "2021-01-01T00:00:00Z_cluster42",
                  "customer_id": "team@example.com",
                  "event_type": "heartbeat",
                  "timestamp": "2021-01-01T00:00:00Z",
                  "properties": {
                    "cluster_id": "42",
                    "cpu_seconds": 60,
                    "region": "Europe"
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/usage/seats": {},
    "/usage/groups": {
      "post": {
        "description": "Fetch aggregated usage data for the specified customer, billable-metric, and optional group, broken into intervals of the specified length.",
        "operationId": "getPagedUsage",
        "summary": "Get usage data with paginated groupings",
        "x-slo-tier": 1,
        "parameters": [
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/NextPage"
          }
        ],
        "requestBody": {
          "description": "The usage query to run",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PagedUsageQueryPayload"
              },
              "example": {
                "customer_id": "04ca7e72-4229-4a6e-ab11-9f7376fccbcb",
                "billable_metric_id": "222796fd-d29c-429e-89b2-549fabda4ed6",
                "starting_on": "2021-01-01T00:00:00Z",
                "ending_before": "2021-01-03T00:00:00Z",
                "window_size": "day",
                "group_by": {
                  "key": "region",
                  "values": [
                    "US-East",
                    "US-West",
                    "EU-Central"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Usage"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PagedUsageAggregate"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "starting_on": "2021-01-01T00:00:00Z",
                      "ending_before": "2021-01-02T00:00:00Z",
                      "group_key": null,
                      "group_value": null,
                      "value": 1234
                    },
                    {
                      "starting_on": "2021-01-02T00:00:00Z",
                      "ending_before": "2021-01-03T00:00:00Z",
                      "group_key": "region",
                      "group_value": "US-East",
                      "value": 567
                    }
                  ],
                  "next_page": null
                }
              }
            }
          }
        }
      }
    },
    "/usage": {
      "post": {
        "description": "Fetch aggregated usage data for multiple customers and billable-metrics, broken into intervals of the specified length.",
        "operationId": "getUsageBatch",
        "summary": "Get batched usage data",
        "parameters": [
          {
            "$ref": "#/components/parameters/NextPage"
          }
        ],
        "requestBody": {
          "description": "The usage query to run",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UsageBatchQueryPayload"
              },
              "example": {
                "window_size": "day",
                "starting_on": "2021-01-01T00:00:00Z",
                "ending_before": "2021-01-03T00:00:00Z"
              }
            }
          }
        },
        "tags": [
          "Usage"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UsageBatchAggregate"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "customer_id": "d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc",
                      "billable_metric_id": "9570e4f3-d1da-4b95-ba81-bd40ee002727",
                      "billable_metric_name": "CPU hours",
                      "start_timestamp": "2021-01-01T00:00:00Z",
                      "end_timestamp": "2021-01-02T00:00:00Z",
                      "value": 1234
                    },
                    {
                      "customer_id": "d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc",
                      "billable_metric_id": "9570e4f3-d1da-4b95-ba81-bd40ee002727",
                      "billable_metric_name": "CPU hours",
                      "start_timestamp": "2021-01-02T00:00:00Z",
                      "end_timestamp": "2021-01-03T00:00:00Z",
                      "value": 1234
                    }
                  ],
                  "next_page": null
                }
              }
            }
          }
        }
      }
    },
    "/billable-metrics/{billable_metric_id}": {
      "get": {
        "description": "Get a billable metric.",
        "operationId": "getBillableMetric",
        "summary": "Get a billable metric",
        "tags": [
          "Billable metrics"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BillableMetricId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BillableMetricV1"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "8deed800-1b7a-495d-a207-6c52bac54dc9",
                    "name": "CPU Hours",
                    "event_type_filter": {
                      "in_values": [
                        "cpu_usage"
                      ]
                    },
                    "property_filters": [
                      {
                        "name": "cpu_hours",
                        "exists": true
                      },
                      {
                        "name": "region",
                        "exists": true,
                        "in_values": [
                          "EU",
                          "NA"
                        ]
                      },
                      {
                        "name": "machine_type",
                        "exists": true,
                        "in_values": [
                          "slow",
                          "fast"
                        ]
                      }
                    ],
                    "aggregation_type": "SUM",
                    "aggregation_key": "cpu_hours",
                    "group_keys": [
                      [
                        "region"
                      ],
                      [
                        "machine_type"
                      ]
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "description": "Updates the name of a billable metric.",
        "operationId": "updateBillableMetric",
        "summary": "Update a billable metric",
        "tags": [
          "Billable metrics"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BillableMetricId"
          }
        ],
        "requestBody": {
          "description": "The billable metric to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The new name of the metric"
                  }
                }
              },
              "example": {
                "name": "CPU hours"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Id"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "8deed800-1b7a-495d-a207-6c52bac54dc9"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billable-metrics": {
      "get": {
        "description": "List all billable metrics.",
        "operationId": "listAllBillableMetrics",
        "summary": "List all billable metrics",
        "tags": [
          "Billable metrics"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/NextPage"
          },
          {
            "name": "include_archived",
            "in": "query",
            "description": "If true, the list of returned metrics will include archived metrics",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BillableMetricV1"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "name": "data transfer (GB)",
                      "id": "9570e4f3-d1da-4b95-ba81-bd40ee002727",
                      "aggregation_type": "SUM",
                      "aggregation_key": "bytes",
                      "event_type_filter": {
                        "in_values": [
                          "cpu_usage"
                        ]
                      },
                      "property_filters": [
                        {
                          "name": "cpu_hours",
                          "exists": true
                        },
                        {
                          "name": "region",
                          "exists": true,
                          "in_values": [
                            "EU",
                            "NA"
                          ]
                        },
                        {
                          "name": "machine_type",
                          "exists": true,
                          "in_values": [
                            "slow",
                            "fast"
                          ]
                        }
                      ],
                      "group_keys": [
                        [
                          "region"
                        ],
                        [
                          "machine_type"
                        ]
                      ],
                      "custom_fields": {
                        "envionment": "production"
                      }
                    }
                  ],
                  "next_page": null
                }
              }
            }
          }
        }
      }
    },
    "/customers/setBillableStatus": {},
    "/customers/archive": {
      "post": {
        "description": "Archive a customer",
        "operationId": "archiveCustomer",
        "summary": "Archive a customer",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "description": "The ID of the customer to archive",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Id"
              },
              "example": {
                "id": "8deed800-1b7a-495d-a207-6c52bac54dc9"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Id"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "8deed800-1b7a-495d-a207-6c52bac54dc9"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/customers/{customer_id}": {
      "get": {
        "description": "Get a customer by Metronome ID.",
        "operationId": "getCustomer",
        "summary": "Get a customer",
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerDetail"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc",
                    "external_id": "team@example.com",
                    "ingest_aliases": [
                      "team@example.com"
                    ],
                    "name": "Example, Inc.",
                    "customer_config": {
                      "salesforce_account_id": "0015500001WO1ZiABL"
                    },
                    "custom_fields": {
                      "x_account_id": "KyVnHhSBWl7eY2bl"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/billable-metrics": {
      "get": {
        "description": "Get all billable metrics for a given customer.",
        "operationId": "listBillableMetrics",
        "summary": "Get billable metrics for a customer",
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          },
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/NextPage"
          },
          {
            "name": "on_current_plan",
            "in": "query",
            "description": "If true, the list of metrics will be filtered to just ones that are on the customer's current plan",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "description": "If true, the list of returned metrics will include archived metrics",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "tags": [
          "Billable metrics"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BillableMetricWithDeprecatedFields"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "name": "data transfer (GB)",
                      "id": "9570e4f3-d1da-4b95-ba81-bd40ee002727",
                      "group_by": [
                        "cluster",
                        "region"
                      ],
                      "aggregate": "sum",
                      "aggregate_keys": [
                        "bytes"
                      ],
                      "aggregation_type": "SUM",
                      "aggregation_key": "bytes",
                      "event_type_filter": {
                        "in_values": [
                          "cpu_usage"
                        ]
                      },
                      "property_filters": [
                        {
                          "name": "cpu_hours",
                          "exists": true
                        },
                        {
                          "name": "region",
                          "exists": true,
                          "in_values": [
                            "EU",
                            "NA"
                          ]
                        },
                        {
                          "name": "machine_type",
                          "exists": true,
                          "in_values": [
                            "slow",
                            "fast"
                          ]
                        }
                      ],
                      "group_keys": [
                        [
                          "region"
                        ],
                        [
                          "machine_type"
                        ]
                      ]
                    },
                    {
                      "name": "CPU hours",
                      "id": "13117714-3f05-48e5-a6e9-a66093f13b4d",
                      "aggregation_type": "SUM",
                      "aggregation_key": "bytes",
                      "event_type_filter": {
                        "in_values": [
                          "cpu_usage"
                        ]
                      },
                      "property_filters": [
                        {
                          "name": "cpu_hours",
                          "exists": true
                        },
                        {
                          "name": "region",
                          "exists": true,
                          "in_values": [
                            "EU",
                            "NA"
                          ]
                        },
                        {
                          "name": "machine_type",
                          "exists": true,
                          "in_values": [
                            "slow",
                            "fast"
                          ]
                        }
                      ],
                      "group_keys": [
                        [
                          "region"
                        ],
                        [
                          "machine_type"
                        ]
                      ],
                      "archived_at": "2024-10-01T11:23:44Z"
                    }
                  ],
                  "next_page": null
                }
              }
            }
          }
        }
      }
    },
    "/customers": {
      "get": {
        "description": "List all customers.",
        "operationId": "listCustomers",
        "summary": "List customers",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/NextPage"
          },
          {
            "in": "query",
            "name": "ingest_alias",
            "description": "Filter the customer list by ingest_alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "customer_ids",
            "description": "Filter the customer list by customer_id.  Up to 100 ids can be provided.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "only_archived",
            "description": "Filter the customer list to only return archived customers. By default, only active customers are returned.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "salesforce_account_ids",
            "description": "Filter the customer list by salesforce_account_id.  Up to 100 ids can be provided.",
            "required": false,
            "schema": {
              "type": "array",
              "maxItems": 100,
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerDetail"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc",
                      "external_id": "team@example.com",
                      "ingest_aliases": [
                        "team@example.com"
                      ],
                      "name": "Example, Inc.",
                      "customer_config": {
                        "salesforce_account_id": "0015500001WO1ZiABL"
                      },
                      "custom_fields": {
                        "x_account_id": "KyVnHhSBWl7eY2bl"
                      }
                    }
                  ],
                  "next_page": null
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new customer",
        "operationId": "createCustomer",
        "summary": "Create a customer",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "description": "The customer to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyCreateCustomerPayload"
              },
              "example": {
                "ingest_aliases": [
                  "team@example.com"
                ],
                "name": "Example, Inc.",
                "customer_billing_provider_configurations": [
                  {
                    "billing_provider": "stripe",
                    "delivery_method": "direct_to_billing_provider",
                    "configuration": {
                      "stripe_customer_id": "cus_123",
                      "stripe_collection_method": "charge_automatically"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc",
                    "external_id": "team@example.com",
                    "ingest_aliases": [
                      "team@example.com"
                    ],
                    "name": "Aperture, Inc."
                  }
                }
              }
            }
          },
          "409": {
            "description": "A customer with this ID already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/setIngestAliases": {
      "post": {
        "description": "Sets the ingest aliases for a customer. Ingest aliases can be used in the `customer_id` field when sending usage events to Metronome. This call is idempotent. It fully replaces the set of ingest aliases for the given customer.\n",
        "operationId": "setIngestAliases",
        "summary": "Create or update customer ingest aliases",
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "description": "The aliases to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetIngestAliasesPayload"
              },
              "example": {
                "ingest_aliases": [
                  "team@example.com"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/customers/{customer_id}/setName": {
      "post": {
        "description": "Updates the specified customer's name.\n",
        "operationId": "setCustomerName",
        "summary": "Update a customer name",
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "description": "The customer name",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetCustomerNamePayload"
              },
              "example": {
                "name": "Example, Inc."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc",
                    "external_id": "team@example.com",
                    "ingest_aliases": [
                      "team@example.com"
                    ],
                    "name": "Example, Inc."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/updateConfig": {
      "post": {
        "description": "Updates the specified customer's config.\n",
        "operationId": "updateCustomerConfig",
        "summary": "Update a customer configuration",
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "description": "The configuration for a specific customer",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerConfigPayload"
              },
              "example": {
                "salesforce_account_id": "0015500001WO1ZiABL"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/credits/listEntries": {},
    "/customers/{customer_id}/purchasedSeats": {},
    "/customers/{customer_id}/invoices/invoice_seats": {},
    "/customers/{customer_id}/invoices": {
      "get": {
        "description": "List all invoices for a given customer, optionally filtered by status, date range, and/or credit type.",
        "operationId": "listInvoices",
        "summary": "List invoices",
        "x-slo-tier": 1,
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          },
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/NextPage"
          },
          {
            "$ref": "#/components/parameters/InvoiceStatus"
          },
          {
            "$ref": "#/components/parameters/SkipZeroQtyLineItems"
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Invoice sort order by issued_at, e.g. date_asc or date_desc.  Defaults to date_asc.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "date_asc",
                "date_desc"
              ]
            }
          },
          {
            "in": "query",
            "name": "credit_type_id",
            "description": "Only return invoices for the specified credit type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "starting_on",
            "description": "RFC 3339 timestamp (inclusive). Invoices will only be returned for billing periods that start at or after this time.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "description": "RFC 3339 timestamp (exclusive). Invoices will only be returned for billing periods that end before this time.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "contracts": {
                    "value": {
                      "data": [
                        {
                          "$ref": "#/components/examples/ContractInvoiceExample"
                        }
                      ],
                      "next_page": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/customers/{customer_id}/invoices/breakdowns": {
      "get": {
        "description": "List daily or hourly invoice breakdowns for a given customer, optionally filtered by status, date range, and/or credit type.\nImportant considerations:\n- If we receive backdated usage after an invoice has been finalized, the backdated usage will be included in the response and usage numbers may differ.",
        "operationId": "listBreakdownInvoices",
        "summary": "List invoice breakdowns",
        "x-slo-tier": 1,
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          },
          {
            "$ref": "#/components/parameters/NextPage"
          },
          {
            "$ref": "#/components/parameters/InvoiceStatusNonVoid"
          },
          {
            "$ref": "#/components/parameters/SkipZeroQtyLineItems"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Max number of results that should be returned. For daily breakdowns, the response can return up to 35 days worth of breakdowns. For hourly breakdowns, the response can return up to 24 hours. If there are more results, a cursor to the next page is returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "window_size",
            "description": "The granularity of the breakdowns to return. Defaults to day.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "HOUR",
                "DAY",
                "Hour",
                "Day"
              ]
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Invoice sort order by issued_at, e.g. date_asc or date_desc.  Defaults to date_asc.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "date_asc",
                "date_desc"
              ]
            }
          },
          {
            "in": "query",
            "name": "credit_type_id",
            "description": "Only return invoices for the specified credit type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "starting_on",
            "description": "RFC 3339 timestamp. Breakdowns will only be returned for time windows that start on or after this time.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2024-01-01T00:00:00Z"
          },
          {
            "in": "query",
            "name": "ending_before",
            "description": "RFC 3339 timestamp. Breakdowns will only be returned for time windows that end on or before this time.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2024-02-01T00:00:00Z"
          }
        ],
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BreakdownInvoice"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "$ref": "#/components/examples/BreakdownInvoiceExample"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/customers/{customer_id}/invoices/{invoice_id}": {
      "get": {
        "description": "Fetch a specific invoice for a given customer.",
        "operationId": "getInvoice",
        "summary": "Get an invoice",
        "x-slo-tier": 1,
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          },
          {
            "$ref": "#/components/parameters/InvoiceId"
          },
          {
            "$ref": "#/components/parameters/SkipZeroQtyLineItems"
          }
        ],
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Invoice"
                    }
                  }
                },
                "examples": {
                  "contracts": {
                    "value": {
                      "data": {
                        "$ref": "#/components/examples/ContractInvoiceExample"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/customers/{customer_id}/invoices/spend-breakdowns": {},
    "/invoices/void": {
      "post": {
        "description": "Void an invoice",
        "operationId": "voidInvoice",
        "summary": "Void an invoice",
        "requestBody": {
          "description": "The invoice id to void",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "description": "The invoice id to void",
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "example": {
                "id": "6a37bb88-8538-48c5-b37b-a41c836328bd"
              }
            }
          }
        },
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "id"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "6a37bb88-8538-48c5-b37b-a41c836328bd"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invoices/regenerate": {
      "post": {
        "description": "Regenerate a voided contract invoice",
        "operationId": "regenerateInvoice",
        "summary": "Regenerate an invoice",
        "requestBody": {
          "description": "The invoice id to regenerate",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "description": "The invoice id to regenerate",
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "example": {
                "id": "6a37bb88-8538-48c5-b37b-a41c836328bd"
              }
            }
          }
        },
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "id"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The new invoice id"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "6a37bb88-8538-48c5-b37b-a41c836328bd"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/costs": {},
    "/setUpBillingProvider": {
      "post": {
        "summary": "Set up account-level billing provider",
        "operationId": "setUpBillingProvider",
        "description": "Set up account-level configuration for a billing provider. Once configured, individual contracts across customers can be mapped to this configuration using the returned `delivery_method_id`.",
        "tags": [
          "Settings"
        ],
        "requestBody": {
          "description": "Billing provider, delivery method and configuration to insert",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "billing_provider",
                  "delivery_method",
                  "configuration"
                ],
                "properties": {
                  "billing_provider": {
                    "$ref": "#/components/schemas/GABillingProviderType",
                    "description": "The billing provider set for this configuration."
                  },
                  "delivery_method": {
                    "$ref": "#/components/schemas/GABillingProviderDeliveryMethodType",
                    "description": "The method to use for delivering invoices for this configuration."
                  },
                  "configuration": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Account-level configuration for the billing provider. The structure of this object is specific to the billing provider and delivery provider combination. See examples below."
                  }
                }
              },
              "examples": {
                "stripe": {
                  "value": {
                    "billing_provider": "stripe",
                    "delivery_method": "direct_to_billing_provider",
                    "configuration": {
                      "stripe_account_id": "acct_12345"
                    }
                  }
                },
                "aws": {
                  "value": {
                    "billing_provider": "aws_marketplace",
                    "delivery_method": "direct_to_billing_provider",
                    "configuration": {
                      "aws_external_id": "47b4f6b7-e297-42e8-b175-331d933b402c",
                      "aws_iam_role_arn": "arn:aws:iam::test"
                    }
                  }
                },
                "azure": {
                  "value": {
                    "billing_provider": "azure_marketplace",
                    "delivery_method": "direct_to_billing_provider",
                    "configuration": {
                      "azure_client_id": "client_id",
                      "raw_azure_client_secret": "secret",
                      "azure_tenant_id": "tenant_id"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "delivery_method_id"
                      ],
                      "properties": {
                        "delivery_method_id": {
                          "type": "string",
                          "format": "uuid"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rotateDeltaStreamSecret": {},
    "/getCustomerBillingProviderConfigurations": {
      "post": {
        "description": "Fetch billing provider configurations for a customer",
        "operationId": "getCustomerBillingProviderConfigurations",
        "summary": "Fetch billing provider configurations for a customer",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "description": "The customer id for which to fetch billing provider configurations",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer_id"
                ],
                "properties": {
                  "customer_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "example": {
                "customer_id": "6a37bb88-8538-48c5-b37b-a41c836328bd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerBillingProviderConfiguration"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/setCustomerBillingProviderConfigurations": {
      "post": {
        "description": "Insert billing provider configurations for a customer",
        "operationId": "setCustomerBillingProviderConfigurations",
        "summary": "Set billing provider configurations for a customer",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "description": "The details of the billing provider configurations to insert",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CustomerBillingProviderConfigurationInput"
                    }
                  }
                }
              },
              "example": {
                "data": [
                  {
                    "customer_id": "4db51251-61de-4bfe-b9ce-495e244f3491",
                    "billing_provider": "stripe",
                    "configuration": {
                      "stripe_customer_id": "cus_1234",
                      "stripe_collection_method": "charge_automatically",
                      "leave_stripe_invoices_in_draft": true
                    },
                    "delivery_method": "direct_to_billing_provider"
                  },
                  {
                    "customer_id": "4db51251-61de-4bfe-b9ce-495e244f3491",
                    "billing_provider": "aws_marketplace",
                    "configuration": {
                      "aws_customer_id": "ABC123ABC12",
                      "aws_product_code": "my_product",
                      "aws_region": "us-west-1"
                    },
                    "delivery_method": "direct_to_billing_provider"
                  },
                  {
                    "customer_id": "4db51251-61de-4bfe-b9ce-495e244f3491",
                    "billing_provider": "azure_marketplace",
                    "configuration": {
                      "azure_subscription_id": "my_subscription"
                    },
                    "delivery_method_id": "5b9e3072-415b-4842-94f0-0b6700c8b6be"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dashboards/getEmbeddableUrl": {
      "post": {
        "description": "Retrieve an embeddable dashboard url for a customer.  The dashboard can be embedded using an iframe in a website.  This will show information such as usage data and customer invoices.",
        "operationId": "embeddableDashboard",
        "summary": "Get an embeddable customer dashboard",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "description": "The details of the dashboard to retrieve",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddableDashboardPayload"
              },
              "example": {
                "customer_id": "4db51251-61de-4bfe-b9ce-495e244f3491",
                "dashboard": "invoices",
                "dashboard_options": [
                  {
                    "key": "show_zero_usage_line_items",
                    "value": "false"
                  },
                  {
                    "key": "hide_voided_invoices",
                    "value": "true"
                  }
                ],
                "color_overrides": [
                  {
                    "name": "Gray_dark",
                    "value": "#ff0000"
                  }
                ],
                "bm_group_key_overrides": [
                  {
                    "group_key_name": "tenant_id",
                    "display_name": "Org ID",
                    "value_display_names": {
                      "48ecb18f358f": "Cluster EU",
                      "e358f3ce242d": "Cluster APAC"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "url": "https://embeddable-dashboards.metronome.com/customers/invoices/v1?..."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auditLogs": {
      "get": {
        "description": "Retrieves a range of audit logs. If no further audit logs are currently available, the data array will be empty. As new audit logs are created, subsequent requests using the same next_page value will be in the returned data array, ensuring a continuous and uninterrupted reading of audit logs.\n",
        "operationId": "getAuditLogs",
        "summary": "Get audit logs",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/NextPage"
          },
          {
            "name": "starting_on",
            "in": "query",
            "description": "RFC 3339 timestamp of the earliest audit log to return. Cannot be used with 'next_page'.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "RFC 3339 timestamp (exclusive). Cannot be used with 'next_page'.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order by timestamp, e.g. date_asc or date_desc. Defaults to date_asc.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "date_asc",
                "date_desc"
              ]
            }
          },
          {
            "name": "resource_id",
            "in": "query",
            "description": "Optional parameter that can be used to filter which audit logs are returned. If you specify resource_id, you must also specify resource_type.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource_type",
            "in": "query",
            "description": "Optional parameter that can be used to filter which audit logs are returned. If you specify resource_type, you must also specify resource_id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Security"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuditLog"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "description": "The next_page parameter is always returned to support ongoing log retrieval. It enables continuous querying, even when some requests return no new data. Save the next_page token from each response and use it for future requests to ensure no logs are missed. This setup is ideal for regular updates via automated processes, like cron jobs, to fetch logs continuously as they become available. When you receive an empty data array, it indicates a temporary absence of new logs, but subsequent requests might return new data.",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/services": {
      "get": {
        "description": "Fetches a list of services used by Metronome and the associated IP addresses. IP addresses are not necessarily unique between services. In most cases, IP addresses will appear in the list at least 30 days before they are used for the first time.\n",
        "operationId": "getServices",
        "summary": "Get services",
        "tags": [
          "Security"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "services"
                  ],
                  "properties": {
                    "services": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Service"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customFields/addKey": {
      "post": {
        "description": "Add a key to the allow list for a given entity. There is a 100 character limit on custom field keys.\n",
        "operationId": "addCustomFieldKey",
        "summary": "Create a custom field key",
        "tags": [
          "Custom fields"
        ],
        "requestBody": {
          "description": "Add a key to the allow list for an entity",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entity",
                  "key",
                  "enforce_uniqueness"
                ],
                "properties": {
                  "entity": {
                    "$ref": "#/components/schemas/ManagedEntity"
                  },
                  "key": {
                    "type": "string"
                  },
                  "enforce_uniqueness": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "entity": "customer",
                "key": "x_account_id",
                "enforce_uniqueness": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/customFields/removeKey": {
      "post": {
        "description": "Remove a key from the allow list for a given entity.\n",
        "operationId": "disableCustomFieldKey",
        "summary": "Delete a custom field key",
        "tags": [
          "Custom fields"
        ],
        "requestBody": {
          "description": "Remove a key from the allow list for an entity",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entity",
                  "key"
                ],
                "properties": {
                  "entity": {
                    "$ref": "#/components/schemas/ManagedEntity"
                  },
                  "key": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "entity": "customer",
                "key": "x_account_id"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/customFields/setValues": {
      "post": {
        "description": "Sets one or more custom fields on an instance of a Metronome entity. If a key/value pair passed in this request matches one already set on the entity, its value will be overwritten. Any key/value pairs that exist on the entity that do not match those passed in this request will remain untouched. This endpoint is transactional and will update all key/value pairs or no key/value pairs. Partial updates are not supported. There is a 200 character limit on custom field values.\n",
        "operationId": "setCustomFields",
        "summary": "Set custom field values",
        "tags": [
          "Custom fields"
        ],
        "requestBody": {
          "description": "The custom field values to set",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entity",
                  "entity_id",
                  "custom_fields"
                ],
                "properties": {
                  "entity": {
                    "$ref": "#/components/schemas/ManagedEntity"
                  },
                  "entity_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "custom_fields": {
                    "$ref": "#/components/schemas/CustomField"
                  }
                }
              },
              "example": {
                "entity": "customer",
                "entity_id": "99594816-e8a5-4bca-be21-8d1de0f45120",
                "custom_fields": {
                  "x_account_id": "KyVnHhSBWl7eY2bl"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/customFields/deleteValues": {
      "post": {
        "description": "Deletes one or more custom fields on an instance of a Metronome entity.\n",
        "operationId": "deleteCustomFields",
        "summary": "Delete custom fields",
        "tags": [
          "Custom fields"
        ],
        "requestBody": {
          "description": "Delete one or more custom fields",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entity",
                  "entity_id",
                  "keys"
                ],
                "properties": {
                  "entity": {
                    "$ref": "#/components/schemas/ManagedEntity"
                  },
                  "entity_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "keys": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "entity": "customer",
                "entity_id": "99594816-e8a5-4bca-be21-8d1de0f45120",
                "keys": [
                  "x_account_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/customFields/listKeys": {
      "post": {
        "description": "List all active custom field keys, optionally filtered by entity type.\n",
        "operationId": "listCustomFieldKeys",
        "summary": "List custom field keys",
        "parameters": [
          {
            "$ref": "#/components/parameters/NextPage"
          }
        ],
        "tags": [
          "Custom fields"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entities": {
                    "type": "array",
                    "description": "Optional list of entity types to return keys for",
                    "items": {
                      "$ref": "#/components/schemas/ManagedEntity"
                    }
                  }
                }
              },
              "example": {
                "entities": [
                  "customer"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "entity",
                          "key",
                          "enforce_uniqueness"
                        ],
                        "properties": {
                          "entity": {
                            "$ref": "#/components/schemas/ManagedEntity"
                          },
                          "key": {
                            "type": "string"
                          },
                          "enforce_uniqueness": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "entity": "customer",
                      "key": "x_account_id",
                      "enforce_uniqueness": true
                    }
                  ],
                  "next_page": null
                }
              }
            }
          }
        }
      }
    },
    "/contract-pricing/products/get": {
      "post": {
        "description": "Get a specific product\n",
        "operationId": "getProduct",
        "summary": "Get a product",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "description": "The ID of the product to get",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Id"
              },
              "example": {
                "id": "d84e7f4e-7a70-4fe4-be02-7a5027beffcc"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductListItem"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "9c9a4a71-171e-41f9-b8da-d982baf1a388",
                    "type": "COMPOSITE",
                    "initial": {
                      "name": "My Composite Product",
                      "starting_at": "2020-01-01T00:00:00.000Z",
                      "composite_product_ids": [
                        "e5e40bc7-ef69-42ec-a77e-cd696f6bfa3d"
                      ],
                      "created_at": "2019-12-30T04:24:55.123Z",
                      "created_by": "Bob"
                    },
                    "current": {
                      "name": "My Updated Composite Product Name",
                      "starting_at": "2020-01-01T00:00:00.000Z",
                      "composite_product_ids": [
                        "e5e40bc7-ef69-42ec-a77e-cd696f6bfa3d"
                      ],
                      "created_at": "2019-12-30T04:24:55.123Z",
                      "created_by": "Bob"
                    },
                    "updates": [
                      {
                        "name": "My Updated Composite Product Name",
                        "starting_at": "2020-02-01T00:00:00.000Z",
                        "created_at": "2019-12-30T09:24:55.123Z",
                        "created_by": "Alice"
                      }
                    ],
                    "custom_fields": {
                      "x_account_id": "KyVnHhSBWl7eY2bl"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/contract-pricing/products/list": {
      "post": {
        "description": "List products\n",
        "operationId": "listProducts",
        "summary": "List products",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/NextPage"
          }
        ],
        "tags": [
          "Products"
        ],
        "requestBody": {
          "description": "Get list of products",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListProductsPayload"
              },
              "example": {
                "archive_filter": "NOT_ARCHIVED"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProductListItem"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "9c9a4a71-171e-41f9-b8da-d982baf1a388",
                      "type": "COMPOSITE",
                      "archived_at": null,
                      "initial": {
                        "name": "My Composite Product",
                        "starting_at": "2020-01-01T00:00:00.000Z",
                        "composite_product_ids": [
                          "e5e40bc7-ef69-42ec-a77e-cd696f6bfa3d"
                        ],
                        "created_at": "2019-12-30T04:24:55.123Z",
                        "created_by": "Bob"
                      },
                      "current": {
                        "name": "My Updated Composite Product Name",
                        "starting_at": "2020-01-01T00:00:00.000Z",
                        "composite_product_ids": [
                          "e5e40bc7-ef69-42ec-a77e-cd696f6bfa3d"
                        ],
                        "created_at": "2019-12-30T04:24:55.123Z",
                        "created_by": "Bob"
                      },
                      "updates": [
                        {
                          "name": "My Updated Composite Product Name",
                          "starting_at": "2020-02-01T00:00:00.000Z",
                          "created_at": "2019-12-30T09:24:55.123Z",
                          "created_by": "Alice"
                        }
                      ],
                      "custom_fields": {
                        "x_account_id": "KyVnHhSBWl7eY2bl"
                      }
                    }
                  ],
                  "next_page": null
                }
              }
            }
          }
        }
      }
    },
    "/contract-pricing/products/create": {
      "post": {
        "description": "Create a new product\n",
        "operationId": "createProduct",
        "summary": "Create a product",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "description": "Create a new product",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductListItemPayload"
              },
              "example": {
                "name": "My Product",
                "type": "USAGE",
                "billable_metric_id": "13117714-3f05-48e5-a6e9-a66093f13b4d"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Id"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contract-pricing/products/update": {
      "post": {
        "description": "Update a product\n",
        "operationId": "updateProduct",
        "summary": "Update a product",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "description": "Update a product",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductListItemPayload"
              },
              "example": {
                "product_id": "d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc",
                "name": "My Updated Product",
                "starting_at": "2020-01-01T00:00:00.000Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Id"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/contract-pricing/products/archive": {
      "post": {
        "description": "Archive a product\n",
        "operationId": "archiveProductListItem",
        "summary": "Archive a product",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "description": "Archive a product",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveProductListItemPayload"
              },
              "example": {
                "product_id": "d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Id"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/contract-pricing/rate-cards/getRateSchedule": {
      "post": {
        "description": "Get all rates for a rate card from starting_at (either in perpetuity or until ending_before, if provided)\n",
        "operationId": "getRateSchedule",
        "summary": "Get a rate schedule",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/NextPage"
[...]
